<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- RTSP Video streaming -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.light" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="true"/>



    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_openbot"
        android:label="@string/app_name"
        android:name="com.andee_openbot.OpenBotApplication"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_openbot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.andee_openbot.main.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name="com.andee_openbot.original.DefaultActivity"
            android:label="@string/activity_name"
            android:noHistory="false">
            <!--
                        <intent-filter>
                            <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                        </intent-filter>

                        <meta-data
                            android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                            android:resource="@xml/device_filter" />
            -->
        </activity>

        <uses-library
            android:name="libOpenCL.so"
            android:required="false"/>
        <uses-library
            android:name="libOpenCL-pixel.so"
            android:required="false"/>

        <service
            android:name="com.andee_openbot.logging.SensorService"
            android:enabled="true"
            android:launchMode="singleTask" />

<!--        <service android:name="net.majorkernelpanic.streaming.rtsp.RtspServer"/>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.andee_openbot.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data android:name="com.google.ar.core" android:value="optional" />

    </application>

</manifest>